ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

li a {
    display: block;
    float: left;
    padding: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid #2190D0;
    font-size: 12pt;
}

li a:hover {
    background-color: #2190D0;
    text-decoration: none;
    color: white;
}

.blokDanych {
    border: 2px solid #2190D0;
    margin: 15px;
    padding: 10px;
    width: 95%;
    height: auto;
    box-sizing: content-box !important;
    clear: both;
}

input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 65px;
    height: 8px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #F0FFFF;
    text-align: center;
}

.dodaj {
    position: absolute;
    font-size: 20px;
    padding: 30px 20px;
    width: 33.3%;
    height: auto;
    left: 50%;
    margin-right: -50%;
    margin-top: 20%;
    transform: translate(-50%, -50%);
    border: 4px solid #2190D0;
}

.firstTh{
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    color: black;

}

.firstTd{
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    color: black;
}


